nav {
  padding: 10px 2%;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 10;
}
.nav-left .menu-icon {
  width: 22px;
  margin-right: 25px;
}
.nav-left .logo {
  width: 130px;
}
.nav-middle .search-box {
  border: 1px solid #ccc;
  margin-right: 15px;
  padding: 8px 12px;
  border-radius: 25px;
}

.nav-middle .search-box input {
  width: 400px;
  border: 0;
  outline: 0;
  background: transparent;
}

.nav-middle .search-box img {
  width: 15px;
}

.nav-right img {
  width: 25px;
  margin-right: 25px;
}
.nav-right .user-icon {
  width: 35px;
  border-radius: 50%;
}
.profile-dropdown {
  position: relative;
  display: inline-block;
}

/* .user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
} */

.dropdown {
  position: absolute;
  top: 100%; /* Position dropdown below the profile icon */
  right: 0; /* Align dropdown to the right of the profile icon */
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 150px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}
.cln {
  display: none;
}

.dropdown-item {
  padding: 10px 20px;
  text-align: left;
  color: #333;
  text-decoration: none;
  font-size: 14px;
  display: block;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
  color: #000;
}

.dropdown-item button {
  width: 100%;
  background: none;
  border: none;
  font-size: 14px;
  text-align: left;
  cursor: pointer;
}

.dropdown-item button:hover {
  background-color: #f0f0f0;
}

.dropdown::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 20px;
  border-width: 0 10px 10px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

@media (max-width: 900px) {
  .menu-icon {
    display: none;
  }
  .nav-right img {
    display: none;
  }
  .nav-right .user-icon {
    display: block;
    width: 30px;
  }
  .logo {
    width: 90px;
  }
  .nav-middle .search-box input {
    width: 100px;
  }
}
